container_commands:
  01_build_and_publish:
    command: |
      cd /var/app/current
      dotnet build -c Release BioKassa/BioKassa.csproj
      dotnet publish -c Release -o ./publish BioKassa/BioKassa.csproj
    leader_only: true
  02_create_procfile:
    command: |
      echo 'web: cd /var/app/current/publish && dotnet BioKassa.dll' > /var/app/current/Procfile
    leader_only: true

option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /css: /var/app/current/publish/wwwroot/css
    /lib: /var/app/current/publish/wwwroot/lib
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    ASPNETCORE_URLS: http://127.0.0.1:5000
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
