option_settings:
  # HTTPS listener disabled - set up an ACM certificate first
  # aws:elbv2:listener:443:
  #   Protocol: HTTPS
  #   SSLCertificateArns: 'arn:aws:acm:REGION:ACCOUNT_ID:certificate/CERTIFICATE_ID'
  aws:elbv2:listener:default:
    ListenerEnabled: true

# Uncomment below to force HTTPS redirect (after SSL certificate is set up)
# files:
#   "/etc/nginx/conf.d/https_redirect.conf":
#     mode: "000644"
#     owner: root
#     group: root
#     content: |
#       server {
#           listen 80;
#           return 301 https://$host$request_uri;
#       }
